html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    

  }

  body {
    /*margin: 5px; */  
    font-family: Roboto, sans-serif;
    font-size: 22px;
    color: darkslategray;
    background-color: white;;
    height: 100%;
    margin: 0px;
    
  }
    
/*.header-desktop {
    display: flex;
}*/

.logo-container {
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 18px;
    margin-bottom: 5px; 
    margin-top: 5px;
}

.logo-container img  {
    width: auto;
    height: 1.75em;

}
    
header {
    
    display: flex;
    /*border-bottom: 1px solid black;*/
    justify-content: space-between;
    align-items: center;
    height: 67px;
    width: 99.8%;
    background-color: white;
    /*position: fixed;
    z-index: 1;*/
    padding-bottom: 5px;
    /*margin-bottom: 15px;*/
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;

}    

.colmar {
    font-size: 25px;
    color:rgb(114, 111, 111);
    font-weight: 800;
    letter-spacing: 1.1px;;
    /*padding-top: 18px; /*new*/
    /*margin-left: 15px;*/
}

.academy {
    font-family: "Moderne Sans", sans-serif;
    font-size: 25px;
    color:rgb(161, 167, 172);
    font-weight: 400;
    /*padding-top: 18px; /*new*/
}


nav {
    /*display: inline-block;*/
    display: inline-block;
    justify-content: flex-end;
    text-align: right;
    /*margin-right: 10px;*/
    /*text-decoration: none;*/
    margin-bottom: 11px;
    margin-top: 9px;
}

nav span a {
    margin-right: 32px;
    margin-left: -16px;
    color:rgb(105, 104, 104);
    text-decoration: none;
    font-size: 22px;
}

.logo-container-header-mobile {
    display: none;
}

/*.mobile {
    display: none;
}*/

@media only screen and (min-width: 1824px) {
    .desktop {
        width: 100%; 
        margin-left: 1px;
    }
}

@media only screen and (max-width: 570px) {
    .desktop {
        display: none;
    }
}

/* Section 1 - Banner section  under header*/
.banner-three-students-section {
    display: flex;
    /*flex-direction: column; */
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    /*border: 1px solid black;*/
    height: 675px;
    width: 99.8%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 10px;
    
    
}


.banner-three-students-container {
    /*margin-right: 5px;*/
    margin-left: 30px;
    margin-right: 24px;
    display: flex;
    height: 89%;
    width: 67%;
    /*background-color:white;*/
}


.banner-image-three {
   
    /*overflow: hidden;*/
    width: 100%;
    height: auto;
    /*margin-top: 14px;*/
    display: flex;
    flex-wrap: wrap;  
    /*image-resolution: 300dpi;  */
}


.banner-text {
    /*font-family: , sans-serif;*/
    width: 42%;
    height: 400px;
    margin-left: 32px;
    margin-right: 46px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    letter-spacing: 0mm;
    /*border: 2px solid black*/
}

h1 {
    /*font-family: Montserrat, sans-serif;*/
    font-size: 2.3em;
    font-weight: 600;
    /*color: rgb(48, 38, 38);*/
    color: rgb(80, 77, 77);
    letter-spacing: 1.2px;
    padding-right: 25px;
    margin-right: 10px;
    /*border: 2px solid red;*/
    margin-top: 5px;
    margin-bottom: 20px;

}

h4 {
    font-size: 26px;
    letter-spacing: 1.1px;
    padding-right: 12px;
    font-weight: 520;
    padding-top: none;
    padding-bottom: 22px;
    margin-top: 8px;
    line-height: 1.5em;
    color: #616161;
    /*border: 2px solid red;*/
}

.start-here-button a {
    font-size: 20.5px;
    text-align: center;
    color: whitesmoke;
    font-weight: 200; 
    /*width: 405px;*/
    height: auto;
    background-color: rgb(77, 74, 74);
    padding-top: 16.5px;
    padding-bottom: 17px;
    padding-left: 156px;
    padding-right: 156px;
    margin-bottom: 40px;
    /*border: 1px solid blue;*/
}


/*start mobile here*/

@media only screen and (max-width: 570px) {
    .banner-three-students-section {
        flex-direction: column;
        width: 99.9%;
        padding-top: 1px;
        height: auto;
    }


    .logo-container-header-mobile {
        padding-top: 8px;
        padding-bottom: 8px;
        /*border: 2px solid red;*/
        height: 64px;
    }

    
    .start-here-button a {
        font-size: 22px;
        text-align: center;
        color: white;
        font-weight: 200; 
        width: 100%;
        height: 8%;
        background-color: rgb(129, 127, 127);
        padding-top: 13px;
        padding-bottom: 20x;
        padding-left: 163px;
        padding-right: 165px;
        margin-bottom: 10px;
        margin-left: 24px;
        margin-right: 1px;;
        /*border: 3px solid blue;*/

    }

    .logo-container-header-mobile {
        display: flex;
        height: auto;
        justify-content: space-around;
    }

    .banner-three-students-section {
        width: 99.8%;
        justify-content: center;
    }

    .banner-three-students-container {
        width: 99.7%;
        background-size: cover;
    }

    .banner-text {
        width: 99%;
        /*padding-bottom: 1rem;*/
        margin-left: 2px;
        margin-right: 2px;
    }

    .banner-text .banner-h1 {
        text-align: left;
        margin-left: 24px;
        font-size: 46px;
        margin-top: 32px;
        /*border: 2px solid blue;*/
        letter-spacing: 1.7px;
        width: 82%;
        padding-bottom: 3px;
    }

    .sub-text-latin {
        margin-left: 24px;
        /*border: 2px solid black;*/
        letter-spacing: 1.3px;
        font-size: 28px;
        padding-bottom: 5px;
        font-weight: 300;
    }

    .banner-image-three {
        width: 100%;
        height: auto;
        margin-left: 0px;
        border-right: 1px lightgray;
    }


} 
/*This starts the CSS for larges devices*/
@media only screen and (min-width: 1824px) {
    .main-info-section-desktop {
        width: 100%; 
        margin: 0 auto;
    }
}


.main-info-section-desktop {
    display: flex;
    flex-wrap: wrap;
    /*border-left: 1px solid rgb(80, 77, 77);*/
    width: 99.8%;
    height: 790px;
    /*justify-content: column;;
    align-items: center;*/
    background-color: whitesmoke;
    border-left: 1px solid gray;
    border-right: 1px solid lightgray;
}

.main-left-section-desktop {
    /*padding: 0;*/
    width: 56.1%;
    height: 54%;
    margin-top: 32px;
    margin-left: 26px;
    display: flex;
    flex-wrap: wrap;
    /*border: 3px solid red*/
    
}

.main-man-reading-image {
    height: 96%;
    /*overflow: hidden;*/
    background-size: auto;
    width: 100%;
    display: inline-block;
    margin-bottom: 11px;
    margin-top: 2px;
    margin-right: 4px;
    /*border: 2 px solid red;*/
    /*flex-wrap: wrap;*/
}

.info-below-man {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 1px;
    width: 100%;
    height: 68%;
    color: rgb(80, 77, 77);
    margin-left: -8px;
    /*border: 2px solid darkgreen*/
}

.main-info-statement {
    /*font-size: 2.1em;*/
    font-size: 2em;
    font-weight: 800;
    letter-spacing: .8px;
    color: rgb(80, 77, 77);
    display: inline;
    padding-top: 12px;
    /*border: 2px solid blue;*/
    width: 98%;
    /*margin-left: -10px;*/
    padding-left: 0px;

}

.main-paragraph {
    /*border-top: 5px;*/
    margin-bottom: 45px;
    margin-top: 1px;
    /*width: 100%;*/
   /*border: 1px solid orange;*/
    font-size: 19px;
    letter-spacing: .5px;
    color: rgb(150, 148, 148);
    font-weight: 100;
    line-height: 1.5em;
    width: 92%;
}

.author {
    margin-bottom: 0px;
    /*font-size: 22px;*/
    font-weight: 300;
    color: rgb(117, 114, 114);
    font-size: .7em;
    /*border: 3px blue;*/
    margin-left: 5px;
    padding-bottom: 32px;
}

/*.main-info-right-desktop {
    justify-content: flex-end;
    display: flex;
    position: relative;
    right: 20px;
    top: 38px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 34%;
    height: 90%;
    border: 2px solid lightsteelblue;
}*/

.info-right-container {
    width: 39.5%;
    /*height: auto;*/
    height: 99.8%;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 24px;
    margin-bottom: 24px;
    border-left: 1px solid lightgray;
}

.info-right-images {
    width: 100%;
    margin-top: 1px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid green;*/
    /*border-left: 1px rgb(235, 231, 231);*/
    margin-bottom: -20px;
    margin-left: 5px;
}

.images-container {
    margin-top: 10px;
    margin-bottom: 18px;
    margin-left: 15px;
    width: 34%;
    height: 71.5%;
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    /*padding-bottom: 7px;
    padding-top: 3px;*/
}



.info-side {
    margin-top: 0;
    display: flex;
    margin-left: 12px;
    flex-direction: column;
    width: 59.9%;
    justify-content: center;
    /*border: 1px solid red;*/
}

.read-more {
    color: blue;
    font-weight: 200;

}

.info-side .mobile-h3 {
    display: none;
}

.info-side h3 {
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 10px;

}

.info-side h5 {
    font-size: .8em;
    color:rgb(109, 107, 107);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 22px;
    margin-left: 10px;
    line-height: 24px;
    letter-spacing: .6px;
    /*border: 1px solid red;*/
}

h5 a {
    margin-top: 1px;
    text-decoration: none;
    
}

#top-item {
    margin-top: 4px;
    margin-left: 4px;
    padding-left: 1px;
    border-bottom: 1px solid rgb(240, 233, 233);
    /*border-left: 1px solid rgb(233, 229, 229);*/
    padding-top: -2;
    padding-bottom: 20px;
    /*margin-bottom: 20px;*/
}   

#middle-image {
    /*margin-top: 10px;*/
    /*border-left: 1px solid rgb(230, 228, 228);*/
    border-top: 1px solid lightgray;
    padding-top: 11px;
    padding-bottom: 22px;
    margin-top: 1px;
    margin-left: 4px;
    padding-left: 0px;
}

#middle-image .info-side h3 {
    /*border: 1px solid red;*/
    margin-top: -7px;
}

 #gray-background {
    margin-top: 1px;
    margin-left: 0px;
    padding-top: 14px;
    padding-bottom: 18px;
    background-color: rgb(224, 222, 222);
    height: 9.5em;
    width: 101.4%;
}

#gray-background .info-side {
    width: 53.8%;
}
#gray-background .images-container {
    margin-left: 22px;
}

#gray-background h5 {
    width: 98%;
}

.mobile {
    display: none;
}

.mobile-gray {
    display: none;
}


/*Mobile Layout = Section 3 */
@media only screen and (max-width: 570px) {
    .main-info-section-desktop {
        display: flex;
        width: auto; 
        /*border: 2px solid red;*/
        padding-top: 10px;
        height: auto;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
        padding-bottom: 32px;
        background-color: whitesmoke;
        border-bottom: 1px solid lightgray;
    }


    .main-left-section-desktop {
        display: none;
    }

    .info-right-container {
        border-left: 1px solid whitesmoke;
        

    }

    .top-photo  {
        display: none;
    }

    .middle-photo {
        display: none;
    }
    .bottom-photo {
        display: none;
    }

    #gray-background {
        background-color: whitesmoke;
        width: 436px;
        height: 340px;
    }

    #gray-background  .info-side {
        width: 100%;
        /*border: 2px solid black;*/
        margin-top: -45px;
    }

    #gray-background  .info-side h5 {
        width: 77%;
    }

    #gray-background .mobile-h3 {
        margin-top: 10px;
        width: 99%;
        /*border: 2px solid green; */  
    }

    .mobile {
        display: block;
        width: 428px;
        height: 213px;
        margin-left: -1px;
        margin-right: 15px;
        padding-right: -14px;
        
        /*background-image: url("./resources/images/information-orientation-mobile-shadows.jpg");*/
    }

    .mobile-gray {
        display: block;
        width: 428px;
        margin-left: -18px;
        margin-right: 15px;
        padding-left: -12px;
        margin-top: -16px;
        height: 211px;
    }




    .info-side {
        margin-left: 10px;
        padding-left: 0px;
        width: 99%;
        margin-top: 8px;
        /*border: 2px solid blue;*/
        padding-bottom: 0px;
    }

    #middle-image .info-side h3 {
        /*border: 2px solid red;*/
        padding-top: 6px;
        margin-top: 2px;
    }

    .info-side .mobile-h3 {
        display: inline;
    }

    .info-side .desktop-h3 {
        display: none;
    }

    .info-side h5 {
        width: 99%;
    }

    .info-side h3 {
        width: 99%;
        /*border: 2px solid red;*/
    }

    /*.info-side {
        margin-left: 2px;
        margin-right: 8px;
        margin-top: 8px;
        /*border: 2px solid blue;
    }*/

    .read-more {
        padding-bottom: 0px;
        /*border: 2px solid red;*/
    }

    .images-container {
        margin-left: 0px;
        padding-left: 0px;
    }
    
    .info-right-images {
        /*border: 1px solid blue;*/
        width: 425px;
        margin-top: 1px;
        padding-top: 10px;
        padding-right: 16px;
        padding-left: -22px;
        border-left: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
    }

    #top-item {
        border-bottom: 1px solid whitesmoke;
    }

    #top-item .read-more {
        /*border: 1px solid red;*/
        padding-bottom: -4.5px;
    }

    #middle-image {
        border-left: 1px solid whitesmoke;
        border-top: 1px whitesmoke;
    }   
    
    #middle-image .read-more {
        padding-bottom: 8px;
    }
}



@media only screen and (min-width: 1824px) {
    .section-3-start-learning-container {
    margin: 0 auto;
    }
}

.section-3-start-learning-container {
    background-color: rgb(233, 232, 232);
    border-top: 1px solid whitesmoke;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    /*border: 2px solid red;*/
    height: 1075px;
    width: 99.8%;
}

.text-header {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 32px;
    padding-bottom: 30px;
    /*border: 2px solid green;*/
}  
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    /*margin-bottom: 32px;*/
}
  
.left-column {
    background-color: white;
    height: 415px;
    /*width: 400px;*/
    margin-left: 72px;
    margin-bottom: 32px;
}
  
.middle-column {
    background-color: white;
    height: 415px;
    margin-left: 32px;
    margin-right: 32px;
}
  
.right-column {
    background-color: white;
    height: 415px;
    margin-right: 72px;
}

.image-courses {
    width: 100%;
    height: auto;
    align-items: center;
}

.course-title {
    font-size: 26px;
    margin-top: 16px;
    color: rgb(109, 106, 106);
    letter-spacing: 1px;
    margin-left: 24px;
    padding-top: 2px;
    margin-bottom: 8px;
    /*border: 1px solid red;*/
}

.same6  {
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    letter-spacing: 1px;;
    color: rgb(167, 164, 164);
    font-weight: 400;
    width: 77%;
    /*border: 1px solid blue;*/
}

.courses-offered {
    margin-left: 24px;
    margin-top: .9px;
    padding-bottom: 16px;
    line-height: 1.5em;
    width: 75%;
    letter-spacing: .5px;
    color: rgb(167, 164, 164);
    font-weight: 400;
    /*border: 1px solid black;*/
}

@media only screen and (max-width: 570px) {
    .section-3-start-learning-container {
        background-color: whitesmoke;
        border-top: 0px;
        border-right: 1px solid lightgray;
        border-left: 1px solid gray;
        border-bottom: 8px;
        padding-bottom: 32px;
        /*border: 2px solid red;*/
        height: 100%;
    }
        
  /*.row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }*/

    .left-column {
        background-color: lightgray;
        height: 100px;
        width: 475px;
        /*width: 400px;*/
        padding-top: 10px;
        margin-left: 16px;
        margin-bottom: 8px;
    }

    .middle-column {
        background-color: lightgray;
        height: 100px;
        width: 475px;
        /*width: 400px;*/
        margin-left: 16px;
        margin-bottom: 8px;
        padding-top: 5px;
    }

    .right-column {
        background-color: lightgray;
        height: 100px;
        width: 475px;
        /*width: 400px;*/
        margin-left: 16px;
        margin-bottom: 8px;
        padding-top: 5px;
    }



    .course-title {
        font-size: 32px;
        text-align: left;
        margin-top: 16px;
        margin-bottom: 8px;
        color: rgb(80, 77, 77);
        letter-spacing: 1px;
        margin-left: 16px;
        padding-top: 12px;
        /*border: 1px solid red;*/
    }

    .marketing {
        /*margin-bottom: 2px solid red;*/
        padding-bottom: 32px;
        margin-bottom: 24px;
    }

    .same6 h5 {
        display: none;
        font-display: none;
    }

    .image-courses {
        display: none;
    }

    .courses-offered {
        display: none;
    }

    .column .same6 {
        display: none;
    }
    

    

}

.thesis-final-container {
    background-color: lightgray;
    width: 99.7%;
    height: 140px;
    /*border-left: 1px solid darkgray;*/
    border-right: 1px solid lightgray;
    /*display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*border: 2px solid goldenrod;*/
    margin-top: 0px;
}

.thesis-title {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    border-right: 1px solid lightgray;
    border-left: none;
    background-color: whitesmoke;
    /*height: 100px;*/
    width: 99.8%;
    margin-left: 2px;
    font-size: .8em;
    /*border: 2px solid orange;*/

}

.thesis-container {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    width: 100%;
    height: 725px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    /*border: 4px solid black;*/
}

.thesis-video-section  {
    margin-top: -12px;
    display: flex;
    width: 56.8%;
    height: 72.5%;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: -2px;
    /*border: 2px solid red;*/
    /*border: 1px solid darkgray;*/
    background-color: whitesmoke;
}

.left-side-thesis-video  {
    margin-top: -16px;
    height: 100%;
    width: 100%;
    /*padding-bottom: 40px;*/
    /*border: 1px solid red;*/
}


.text-under-video {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
    padding-top: 15px;
    margin-top: -15px;
    margin-bottom: 0px;
    width: 56.4%;
    height: 28%;
    color: rgb(80, 77, 77);
    margin-left: 24px;
    /*border: 2px solid green;*/
}

.main-heading-info {
    position: relative;
    /*border: 2px solid blue;*/
    margin-left: 1px;
    width: 35%;
    height: 15%;
    margin-top: -10px;
    letter-spacing: .5px;
    padding-top: 0px;;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-weight: 520;
    font-size: 26px;

}
.text-urban { 
    font-size: 19px;
    color: rgb(124, 121, 121);
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -24px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 505;
    width: 99.9%;
    line-height: 1.5em;
    letter-spacing: .5px;
    /*word-spacing: .1em;*/
    /*border: 2px solid darkkhaki;*/
}

.thesis-right-side-container {
    width: 41.5%;
    height: 72%;
    /*background-color: rgb(218, 214, 214);*/
    /*border: 3px solid blue;*/
    position: absolute;
    margin-left: 59%;
    display: flex;
    flex-direction: column;
}

.thesisright-info-images {
    width: 93.5%;
    height: 51%;
    display: flex;
    flex-wrap: wrap;
    border-top: 11px;
    margin-bottom: 0px;
    margin-left: 24px;
    /*border: 2px solid green;*/
    
}

#top-image {
    background-color: lightgray;
    height: 44%;
    margin-bottom: 1px;
    margin-top: 2px;
    padding-bottom: 0px;
    /*border: 2px solid red;*/
}

#top-image .heading  {
    line-height: 1.3em;
}

#top-image .sub-text {
    line-height: 1.3em;
}


.heading-two {
    /*border: 2px solid green;*/
    margin-top: 41px;
}

.thesis-images-container {
    margin-top: 24px;
    margin-bottom: 10px;
    margin-left: 24px;
    width: 32%;
    height: 100px;
    display: flex;
    flex-direction: column;
    /*border: 2px solid black;*/
}



.thesis-side-info {
    margin-top: 24px;
    display: flex;
    margin-left: 24px;
    flex-direction: column;
    width: 50%;
    height: 45%;
    justify-content: center;
    /*border: 2px solid blue;*/
    padding-top: 14px;
    /*line-height: 1.2;*/
}

.heading {
    
    font-weight: 700;
    letter-spacing: .7px;
    padding-bottom: 0px;
    padding-top: 20px;
    /*border: 2px solid purple;*/
    margin-top: 50px;
    margin-bottom: 10px;
    line-height: 29px;
    
}

.heading-2 {
    margin-top: 35px;
    margin-bottom: 14px;
    padding-bottom: 0px;
    padding-top: 20px;
    /*border: 2px solid red;*/
}

.sub-text {
    font-weight: 400;
    width: 105%;
    letter-spacing: .5px;
    padding-bottom: 5px;
    margin-top: 1px;
    margin-bottom: 15px;
    line-height: 1em;
    color: rgb(151, 148, 148);
    /*border: 2px solid red;*/
}

.heading h3 {
    font-size: 26px;
    color: rgb(99, 96, 96);
    
}

@media only screen and (max-width: 570px) {
    .thesis-container {
        flex-direction: column;
        width: 99.8;
        border-right: 1px solid lightgray;
        margin-left: 5px;
        border-left: none;
        padding-top: 1px;
        height: auto;
    }

    .thesis-title {
        border-top: 1px solid lightgray;
        /*border-left: 0px solid lightgray;*/
        border-right: 1px solid lightgray;
        padding-top: 16px;
        justify-content: center;
        background-color: whitesmoke;
        padding-bottom: 16px;
        /*height: 100px;*/
        width: 99.6%;
        margin-left: 4px;
        font-size: .9em;
        /*border: 2px solid orange;*/
    
    }

    .thesis-images-container {
    
    }

    .thesis-video-section {
        width: 105%;
        height: auto;
        background-color: whitesmoke;
        border-left: 0px solid gray;
        /*border-right: 1px solid gray;*/
        border-bottom: 1px solid lightgray;
        border-right: 1px solid lightgray;

        margin-left: -13px;
        padding-right: 1px;
    }

    .text-under-video {
        display: none;
    }

    .thesis-right-side-container {
        display: none;
    }
    
}


.footer-section {
    width: 100%;
    height: 90px;
    /*border: 2px solid black;*/
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-top: none;

}

.left-footer {
    width: 50%;
    /*border: 2px solid blue;*/
    margin-top: 24px;
    margin-left: 24px;
    font-size: 16px;

}

.right-footer {
    width: 30%;
    text-decoration: none;
    margin-left: 68%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: absolute;
    flex-wrap: wrap;
    
}

.right-footer nav a {
    font-size: 16px;
    text-decoration: none;
    margin-right: 16px;
    color:rgb(124, 121, 121);
}

@media only screen and (max-width: 570px) {
    .left-footer {
        width: 99.8%;
        margin-top: 40px;
        margin-left: 32px;
        font-size: 16px;
        letter-spacing: 1px;
        border-top: 1px solid whitesmoke;
        /*border: 1px solid gray;*/
    
    }

    .right-footer {
        display: none;
    }

    
}

